body{
    background-color: #000814;
}
.sidebar{
    position:absolute;
    left:0;
    top:0;
}
.title{
    position: absolute;
    top:90px;
    left:800px;
    font-size: 30px;
    font-family: monospace;
}
.maindiv {
    display: flex;
    flex-direction: row;
    gap: 150px;       
    margin-left: 250px; 
    margin-top: 200px;  
}
.Songcard1, .Songcard2, .Songcard3 {
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.playerphoto{
    position:absolute;
    top:300px;
    left: 1600px;
    width: 1000px;
}
.lyricssvg{
  cursor: pointer;
}
.leftsvg{
  cursor: pointer;
  
}
.rightsvg{
  cursor:pointer;
}
.playpausesvg{
  cursor:pointer;
}
.playistsvg{
  cursor:pointer;
}
.email{
    width:800px;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 30px;
    margin-top:30px;
    font-family: monospace;
}
.pswd{
    width:800px;
    font-size: 40px;
    border-radius: 20px;
    padding: 10px; 
    background-color: black;
    font-family: monospace;
    margin-bottom: 30px;

}
.controls{
    height:250px;
    width:1100px;
    background-color: hsl(0, 3%, 17%);
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 100px;
    border-radius: 150px;
    left:1550px;
    padding: 30px;
    gap:40px;

}
.photoplayer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.playersong {
  font-size: 80px;
  color: white;
  font-weight: bold;
  position: absolute;
  left: 1900px;
  bottom:500px;   
}
.button-left{
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family:monospace ;

}
.playerphoto {
   
  width:1000px;     
  margin-bottom: 20px;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
:root{
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

}
.latestsongs{
  display:flex;
  flex-direction: row;
  
}