.sidebar{
    position:sticky;
    top:0vh;
}
.title1{
    position: absolute;
    top:3vh;
    left:23vw;
    font-size: 1.5vh;
    font-family: monospace;
}

.title2{
  position: absolute;
  top:35vh;
  left:23vw;
  font-size: 1.5vh;
  font-family: monospace;
}
.title3{
  position: absolute;
  top:65vh;
  left:23vw;
  font-size: 1.5vh;
  font-family: monospace;
}
.maindivhome {
  display: grid;
  position:absolute;
  gap:10vh;
  top:13vh;
  left:23vw;
}
.Songcard1,.Songcard2{
    display: flex;
    flex-direction: row;
    gap: 7vh;
    align-items: center;
   

}
.homepage{
  display: flex;
  place-items: center;
  min-width: 30vh;
  min-height: 100vh;
  background-color: black;
  font-family:monospace ;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

