
.homepage {
  display: flex;
  min-height: 100vh;
  background-color: black;
  font-family: monospace;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
}

.contents {
  flex: 1;
  padding-left: 23vw;     
  padding-top: 40px;
  padding-right: 40px;

  max-width: 1800px;  
  margin: 0 auto;     
}

.title1,
.title2,
.title3 {
  margin: 40px 0 20px;
  color: white;

}

.maindivhome {
  display: flex;
  flex-direction: column;
  
}

.Songcard1,
.Songcard2 {
  display: flex;
  flex-wrap: nowrap;         
  gap: clamp(16px, 3vw, 40px);
  gap: 4vw;
  overflow-x: auto;           
  padding-bottom: 10px;
}

h1 {
  font-size: clamp(1.6rem, 3vw, 3.2rem);
  line-height: 1.1;
  margin: 0;
  color: white;
}
