.maindivlogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vh;
    min-height: 100vh;
    background-color: black;
}

.subdiv{
    display:flex;
    align-items: center;
    flex-direction:column;
    gap:30px;
}
.blacklogo{
    width:60%;
    max-width: 500px;
    border-radius: 50px;
}
.email{ 
    width:100%;
    max-width:800px ;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    margin-bottom: 30px;
    margin-top:30px;
    font-family: monospace;
}
.pswd{
    width:800px;
    font-size: 40px;
    border-radius: 20px;
    padding: 10px; 
    background-color: black;
    font-family: monospace;
    margin-bottom: 30px;
}
.signinbtn,
.signupbtn {
  width: 100%;
  max-width: 350px;
  padding: 18px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  border-radius: 15px;
  cursor: pointer;
}



