.lyricsbox{
    height:50vh;
    width:30vw;
    background-color:hsl(0, 5%, 82%) ;
    position:absolute;
    top:10vh;
    left: 42vw;
    width: 55vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:50px;
}
.lyricswrapper{
    background-color: black;
    min-height: 100vh;  
    width: 100%;
}
.controls{
    height:10vh;
    width:50vh;
    background-color: hsl(0, 3%, 17%);
    display:flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 100px;
    border-radius: 150px;
    left:43vw;
    padding: 30px;
    gap:40px;

}