.subdivolaylistholder{
    position:absolute;
    left:35vw;
    top:15vh;
    height: 80vh;
    overflow-y: auto;
    padding: 10px;
    

}
.playlistholderpage{
    background-color: black;
    min-height: 100vh;  
    width: 100%;
}