.maindivplayer {
    background-color: black;
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.subdivplayer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.playerphoto {
    width: clamp(500px, 60vw, 600px);
    border-radius: 14px;
}
.playersong {
    font-size: clamp(35px, 5vw, 50px);
    color: white;
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
}
.controls {
    width: min(90%, 500px);
    background-color: hsl(0, 3%, 17%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    padding: 20px;
}

