.sidebar{
    position:absolute;
    left:0vh;
    top:0vh;
}
.titleplaylist{
    position: absolute;
    top:3vh;
    left:23vw;
    font-size: 1.5rem;
    font-family: monospace;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    width:65vw;;
    
}
.maindivplaylist {
  display: grid;
  position:absolute;
  top:15vh;
  left:30vw;
  overflow-y:auto;
  height:82vh;
}
.playlistcard1,.playlistcard2,.playlistcard3{
    display: flex;
    flex-direction: row;
    gap: 10vh;
    align-items: center;
}
.playlistpage{
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 30vh;
  min-height: 100vh;
  font-family:monospace ;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.playlistpage{
  background-color: black;
}
:root{
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}