.details{
    font-size: 50px;
    display:flex;
    flex-direction: column;
    gap:30px;
    position:absolute;
    top:30vh;
    left:50vw;
}
.maindivprofile{
    min-width: 30vh;
    min-height: 100vh;background-color: black;

}
