.details{
    font-size: 50px;
    display:flex;
    flex-direction: column;
    gap:30px;
    position:absolute;
    top:25vh;
    left:45vw;
}
.maindivprofile{
    background-color: black;
    min-height: 100vh;  
    width: 100%;
}
