.maindivregister{
    display:flex;
    flex-direction: column;
    justify-content: center;  
    gap:30px; 
    min-width: 30vh;
    min-height: 100vh;
    align-items:center;
    background-color: #000;
}
.registerbtn{
    height:90px;
    width:300px;
    font-size:50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cpswd{
    width:800px;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 30px;
    margin-top:30px;
    font-family: monospace;
}
.email{
    width:800px;
    font-size: 40px;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
    margin-bottom: 30px;
    margin-top:30px;
    font-family: monospace;
}
.pswd{
    width:800px;
    font-size: 40px;
    border-radius: 20px;
    padding: 10px; 
    background-color: black;
    font-family: monospace;
    margin-bottom: 30px;

}