.searchbar{
    width : 1000px;
    height:70px;
    font-size: 50px;
    border-radius: 30px;
    position:absolute;
    top:15vh;
    left:45vw;
    padding: 10px;;
}
.searchpagewrapper{
    background-color: black;
    min-height: 100vh;  
    width: 100%;
}
.maindivsearch{
    display: flex;
    flex-direction: column;
    gap:150px;
    width: 100%;  
    max-height: 500px;
    border:1px solid #03071e;
}
.Latestsongs{
    display:flex;
    flex-direction: row;
    gap:2vh;  
    padding-bottom: 1vh;
    position:absolute;
    top:27vh;
    left:25vw;
}
.userhistory{
    display:flex;
    flex-direction: row;
    gap:2vh; 
    padding-bottom:1vh;
    position:absolute;
    top:67vh;
    left:25vw;
}
.userhistorytitle{
    position: absolute;
    top:10vh;
    font-size: 2vh;
    left:40vh;
}
.latestsongstitle{
    position: absolute;
    top:50vh;
    font-size: 2vh;
    left:40vh;
}



