.boxplaylist{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(0, 3%, 75%);
    width: 50vw;
    height: 18vh;
    border-radius: 30px;
    margin-bottom: 3vh;
    
}
.photoplaylist {
    height: 15vh;
    width:clamp(3vw,12vw,15vw);
    margin-top:0.5vh;
    border-radius: 2vh;
}
.nameplaylist{
    font-size: 3vh;
    font-family: monospace;
    color: #000; 
    margin-left: 5vh;
}
.playlistlogoonbar{
    margin-left: 20vh;
}
.playlistwrapper{
    display: flex;
    flex-direction: column;
}
.buttonplaylistbar{
    display:flex;
    align-items: center;
    background-color: hsl(0, 3%, 75%);
    border-radius: 2vh;

}