.boxplaylist{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: hsl(0, 3%, 75%);
    width: 50vw;
    height: 18vh;
    border-radius: 30px;
    margin-bottom: 3vh;
}
.photoplaylist {
    height: 15vh;
    width:clamp(3vw,12vw,15vw);
    margin-top:0.5vh;
    margin-left: 1vw;
    border-radius: 2vh;
}
.dustbin{
    position: sticky;
    right:80px;
}
