.maindivpopup {
    position: fixed;          
    top: 60vh;                
    right: 10vw;
    display: flex;
    flex-direction: column;
    overflow-y:auto;
    height:30vh;
    

    
}
.popupbutton{
    width:20vw;
    font-size: 1.5rem;
    margin-bottom: 5px;

}


