.sidebar {
    width: 15vw;
    height: 100vh;
    background-color: hsl(0, 5%, 82%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  
}

.profile-img {
   width: 10vw;
   border-radius: 50%;
}

.btngrp{
    display:flex;
    flex-direction: column;
    width:100%;
    gap:30px;

}
.btn-search, .btn-home, .btn-playlist {
   width: 15vw;
   padding: 30px;
   font-size: 30px;

}

.logo-img {
   width: 15vw;
}
