.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 7%, 92%);
    width: auto;
    height: auto;
    border-radius: 30px;
    
}
.photo {
    height: 10vh;
    width:clamp(3vw,12vw,15vw);
    margin-top:0.5vh;
    border-radius: 2vh;
}
.name{
    margin-bottom: 3vh;
    font-size: 3vh;
    font-family: monospace;
    color: #000;   
}
